# Dependencies
node_modules
.pnpm-store

# Next.js build output
.next
out

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env*

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo
.devcontainer

# Cursor
.cursor

# Tests
coverage 

# Documentation
/docs
/xnotes
/README.*
